<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="WSPJ0201Mapper">
	
    <resultMap id="WSPJ020101OVO" type="com.unique.model.Out.WSPJ020101OVO">
        <result column="OUTSRC_DSCR"				property="sOUTSRC_DSCR"/>
    </resultMap>

   	<select id="WSPJ020113" parameterType="com.unique.model.In.PJ020101IVO" resultMap="WSPJ020101OVO">
        <![CDATA[
        	SELECT OUTSRC_DSCR
        	FROM   PRJT_INFO
			WHERE  DOMAIN_ID = #{sDOMAIN_ID}
			AND    PRJT_ID   = #{sPRJT_ID};
         ]]>
	</select>
</mapper>
