.sbgrid_switch
{
	position:absolute;
	background-color:#FFFFFF;
	outline:none;
}

.sbgrid_case
{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
}

.sbgrid_treeview
{
	position:absolute;
	border-width:1px;
	border-style:solid;
	border-color:#D1D1D1;
	cursor:default;
	overflow:hidden;
	background-color:#FFFFFF;
}

.sbgrid_line
{
	position:absolute;
}

.sbgrid_object
{
	position:absolute;
}

.sbgrid_rectangle
{
	position:absolute;
	left:0px;
	top:0px;
	width:0px;
	height:0px;
}

.sbgrid_roundrect
{
	position:absolute;
	left:0px;
	top:0px;
	width:0px;
	height:0px;
}

.sbgrid_ellipse
{
	position:absolute;
	left:0px;
	top:0px;
	width:0px;
	height:0px;
}

.sbgrid_bool
{
	position:absolute;
	background-position-x:center;
	background-position-y:center;
}

.sbgrid_browser
{
	position:absolute;
}

.sbgrid_iviewer
{
	position:absolute;
	border-width:1px;
	border-style:solid;
	border-color:transparent;
}
.sbgrid_file
{
	position:absolute;
}
.sbgrid_file_group
{
	position:absolute;
	background-color:#FFFFFF;
	border-width:1px;
	border-style:solid;
	border-color:#000000;
	word-wrap:break-word;
	overflow-x:hidden;
	overflow-y:auto;
}

.sbgrid_file_error
{
	color: red;
}
.sbgrid_file_list
{
	color: black;
}